<h1>Bonjour {{ name }} !</h1>

<p>
    Vous avez demandé à modifier votre mot de passe :
</p>

<p>
    <a href="{{ url('homepage') ~ 'account/update-password/'~ slug ~'/' ~ token}}">Cliquez sur le lien pour modifier votre mot de passe</a>

</p>