{% extends 'base.html.twig' %}

{% block title %}Une erreur s'est produites{% endblock %}

{% block body %}
    <div class="flash-msg">
        <div class="container">
            <h1>Oops ! Une erreur s'est produite !</h1>
            <p>Etes-vous certain de savoir ce que vous faisiez? :D</p>

            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">Revenir en arrière</a>

        </div>
    </div>


{% endblock %}