{% extends 'base.html.twig' %}

{% block body %}
    <!-- ======= main img Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="fade-up">
            <h1>Bienvenue sur SnowTricks</h1>
            <h2>Le site communautaire pour les fans de snowboard et le partage de tricks !</h2>
            <a href="#tricks" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
        </div>
    </section>

    <section id="tricks" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Tous nos tricks</h2>
                <p>Voici la liste de tous les tricks partagés par nos membres !</p>
            </div>




        </div>
    </section><!-- End Services Section -->
    <a href="#tricks" class="back-to-top"><i class="icofont-simple-up"></i></a>
{% endblock %}
