{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenu sur SnowTricks</h1>
            <p class="lead">Le site communautaire dédié aux fans de snow !!</p>
            <hr class="my-4">
            <p>Vous souhaitez apprendre les figures de snow ou partager vos connaissances ?! N'hésitez pas à vous inscrire !</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos figures</a>
            </p>
        </div>
    </div>
{% endblock %}
