{% extends 'base.html.twig' %}

{% block title %}
    Page de création d'un trick
{% endblock %}

{% form_theme form 'trick/_collection.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Page de création d'une figure</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la figure</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/trick.js"></script>
{% endblock %}