{% extends 'base.html.twig' %}

{% block title %}Modifiez votre compte !{% endblock %}

{% block body %}
    <div class="form-custom">
        <div class="container">
            <h1>Modifiez votre compte</h1>

            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Modifier mon compte</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}