{% extends 'base.html.twig' %}

{% block title %}
    Modification de votre mot de passe
{% endblock %}

{% block body %}
    <div class="form-custom">
        <div class="container">
            <h1>Modification de votre mot de passe !</h1>
            <p>Vous allez recevoir un lien par e-mail pour pouvoir modifier votre mot de passe</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Demande de modification de mot de passe</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}