{% extends 'base.html.twig' %}

{% block title %}Créez vous un compte !{% endblock %}

{%  block body %}
    <div class="container mt-5">
        <h1>Créez vous un compte</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer votre compte</button>

        {{ form_end(form) }}
    </div>
{% endblock %}